# Data cleaning

In [1]:
# The goal of this code is to introduce an idea of data cleaning of a data set. 
# The data used here is ramen- rating from Kaggle pratform available on 
# https://www.kaggle.com/datasets/residentmario/ramen-ratings

In [2]:
# packages 

import pandas as pd
import numpy as np

# Import the dataframe

In [41]:
# import the dataframe 

# in "path" you put the exact path the file is on your computer
path = "C:/Users/Bruna/OneDrive/Documentos/curso-python/data cleaning/"

# in "file" you put the exact name of the file and the extension. In this case we have .csv
file = "ramen-ratings.csv"

# name the table as df, call the reader function from pandas with argument path+file and the separator.
# csv stands for "Comma Separed Value"
df = pd.read_csv(path+file, sep=',')

df

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
2579,1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

# Rename a column

In [42]:
# Let us rename the column "Review #" to "Review"


df = df.rename(columns={"Review #":"Review"}) # note that I rename the column and update df to the new df
df

,Review,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
2579,1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

# treatment of words

In [45]:
# Note that the table has a lot of words. 
# It is good to unify them, because in the future we don't want lower and upper case been treated as different words
# Let us apply lower case to all words and replace the columns

df['Brand'] = df['Brand'].str.lower()
df['Variety'] = df['Variety'].str.lower()
df['Style'] = df['Style'].str.lower()
df['Country'] = df['Country'].str.lower()

df

,Review,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,new touch,t's restaurant tantanmen,cup,japan,3.75,NaN
1,2579,just way,noodles spicy hot sesame spicy hot sesame guan...,pack,taiwan,1,NaN
2,2578,nissin,cup noodles chicken vegetable,cup,usa,2.25,NaN
3,2577,wei lih,gge ramen snack tomato flavor,pack,taiwan,2.75,NaN
4,2576,ching's secret,singapore curry,pack,india,3.75,NaN
...,...,...,...,...,...,...,...
2575,5,vifon,"hu tiu nam vang [""phnom penh"" style] asian sty...",bowl,vietnam,3.5,NaN
2576,4,wai wai,oriental style instant noodles,pack,thailand,1,NaN
2577,3,wai wai,tom yum shrimp,pack,thailand,2,NaN
2578,2,wai wai,tom yum chili flavor,pack,thailand,2,NaN
2579,1,westbrae,miso ramen,pack,usa,0.5,NaN

# Handling null values

In [46]:
# There are a few ways to handle null values: drop all of them, fill them for the mean of the column, mode, median, etc.

In [47]:
# I would like to know what types of values df has (if they are numbers or not) and how many nulls each column has
df.info()

# Note that the column "Review" is int64, that means we have numbers. The other columns are not designed as numbers.
# It doesn't make sense the column "Stars" and "Top Ten" not been numbers, we need to change that.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Review   2580 non-null   int64
 1   Brand    2580 non-null   object
 2   Variety  2580 non-null   object
 3   Style    2578 non-null   object
 4   Country  2580 non-null   object
 5   Stars    2580 non-null   object
 6   Top Ten  41 non-null     object
dtypes: int64(1), object(6)
memory usage: 141.2+ KB

In [48]:
# Note that the column "Top Ten" has only 41 non-null values. Let us look closely the non-null values
top10 = df[df['Top Ten'].notnull()]
top10
# it doesnt look interesting for me, so I'll drop this column

,Review,Brand,Variety,Style,Country,Stars,Top Ten
616,1964,mama,instant noodles coconut milk flavour,pack,myanmar,5,2016 #10
633,1947,prima taste,singapore laksa wholegrain la mian,pack,singapore,5,2016 #1
655,1925,prima,juzz's mee creamy chicken flavour,pack,singapore,5,2016 #8
673,1907,prima taste,singapore curry wholegrain la mian,pack,singapore,5,2016 #5
752,1828,tseng noodles,scallion with sichuan pepper flavor,pack,taiwan,5,2016 #9
891,1689,wugudaochang,tomato beef brisket flavor purple potato noodle,pack,china,5,2016 #7
942,1638,a-sha dry noodle,veggie noodle tomato noodle with vine ripened ...,pack,taiwan,5,2015 #10
963,1617,mykuali,penang hokkien prawn noodle (new improved taste),pack,malaysia,5,2015 #7
995,1585,carjen,nyonya curry laksa,pack,malaysia,5,2015 #4
1059,1521,maruchan,gotsumori sauce yakisoba,tray,japan,5,2015 #9
1072,1508,mamee,chef gold recipe mi kari seribu rasa,pack,malaysia,5,2015 #6
1080,1500,mykuali,penang red tom yum goong noodle,pack,malaysia,5,2015 #1
1109,1471,mama,instant noodles shrimp creamy tom yum flavour ...,pack,thailand,5,2013 #10
1114,1466,mama,oriental style instant noodles green curry fla...,pack,thailand,5,2015 #8
1230,1350,mamee,chef curry laksa flavour,pack,malaysia,5,2014 #7
1250,1330,sapporo ichiban,otafuku okonomi sauce yakisoba,tray,japan,5,2014 #4
1272,1308,nongshim,soon veggie noodle soup,pack,south korea,5,2014 #9
1278,1302,mama,instant noodles yentafo tom yum mohfai flavour,pack,thailand,5,2014 #10
1309,1271,prima taste,singapore chilli crab la mian,pack,singapore,5,2014 #8
1382,1198,samyang foods,maesaengyitangmyun baked noodle,pack,south korea,5,2014 #5
1397,1183,paldo,cheese noodle,pack,south korea,5,2014 #6
1493,1087,mykuali,penang white curry noodle,pack,malaysia,5,2014 #1
1588,992,prima taste,singapore laksa la mian,pack,singapore,5,2013 #1
1589,991,prima taste,singapore curry la mian,pack,singapore,5,2013 #2
1646,934,nongshim,jinjja jinjja flamin' hot & nutty,pack,usa,5,2013 #4
1670,910,paldo,namja ramyun,bowl,south korea,4.25,\n
1757,823,paldo,kokomen spicy chicken,pack,south korea,5,2013 #9
1846,734,indomie,mi goreng rasa ayam panggang jumbo (local),pack,indonesia,5,\n
1865,715,indomie,mi goreng rendang (import),pack,indonesia,5,2013 #3
1972,608,koka,spicy black pepper,pack,singapore,5,2012 #10
2002,578,nongshim,shin ramyun black,pack,south korea,4.75,2012 #7
2146,434,mi sedaap,kari spesial,pack,indonesia,4.5,2012 #5
2188,392,nissin,yakisoba noodles karashi,tray,japan,5,2012 #3
2189,391,myojo,hyoubanya no chukasoba oriental,pack,japan,4.25,2012 #6
2248,332,nongshim,champong oriental noodles,cup,south korea,3.75,\n
2295,285,doll,artificial chicken,pack,hong kong,4.5,2012 #9
2475,105,indomie,special fried curly noodle,pack,indonesia,5,2012 #1
2533,47,indomie,mi goreng jumbo barbecue chicken,pack,indonesia,5,2012 #2
2535,45,indomie,mi goreng sate,pack,indonesia,5,\n
2549,31,myojo,ippeichan yakisoba,tray,japan,4,2013 #6
2567,13,sapporo ichiban,chow mein,pack,japan,5,2012 #4

In [49]:
#drop() will drop the column 'Top Ten', axis=1 means column, inplace=True will replace for the new table, implace=False will not
df.drop('Top Ten', axis=1, inplace=True)
df

,Review,Brand,Variety,Style,Country,Stars
0,2580,new touch,t's restaurant tantanmen,cup,japan,3.75
1,2579,just way,noodles spicy hot sesame spicy hot sesame guan...,pack,taiwan,1
2,2578,nissin,cup noodles chicken vegetable,cup,usa,2.25
3,2577,wei lih,gge ramen snack tomato flavor,pack,taiwan,2.75
4,2576,ching's secret,singapore curry,pack,india,3.75
...,...,...,...,...,...,...
2575,5,vifon,"hu tiu nam vang [""phnom penh"" style] asian sty...",bowl,vietnam,3.5
2576,4,wai wai,oriental style instant noodles,pack,thailand,1
2577,3,wai wai,tom yum shrimp,pack,thailand,2
2578,2,wai wai,tom yum chili flavor,pack,thailand,2
2579,1,westbrae,miso ramen,pack,usa,0.5

In [50]:
# Note that 'Style' has only 2 null values, so I will replace them for the mode.
# Mode is a good choice for this replacement because 'Style' is a column of words

# What is the word that repeat the most? I will use describe() to see the top word
df['Style'].describe()

count     2578
unique       7
top       pack
freq      1531
Name: Style, dtype: object

In [52]:
# Exchange null values for 'pack'
df['Style']=df['Style'].fillna('pack')

In [54]:
# Checking again if everything is good
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Review   2580 non-null   int64
 1   Brand    2580 non-null   object
 2   Variety  2580 non-null   object
 3   Style    2580 non-null   object
 4   Country  2580 non-null   object
 5   Stars    2580 non-null   object
dtypes: int64(1), object(5)
memory usage: 121.1+ KB

# object to float64

In [55]:
# Note that 'Stars' is a column of numbers but is assigned as object.
# Also, all the other columns are assigned as object but they are strings.

In [65]:
# Are all the values in 'Stars' numbers?

df['Stars']. value_counts()

# Note that we have 3 lines with 'Unrated', the best solution is to drop those lines

4          384
5          369
3.75       350
3.5        326
3          173
3.25       170
4.25       143
4.5        132
2.75        85
2           68
2.5         67
4.75        64
1.5         37
1.75        27
0           26
1           26
2.25        21
0.5         14
0.25        11
5.0         10
1.25        10
3.50         9
5.00         7
4.00         6
4.3          4
Unrated      3
3.8          3
4.50         3
4.0          3
2.3          2
1.1          2
2.8          2
3.1          2
4.125        2
3.0          2
2.9          2
2.85         1
0.75         1
3.7          1
3.125        1
3.65         1
3.2          1
0.9          1
3.6          1
3.00         1
1.8          1
0.1          1
2.1          1
3.3          1
3.4          1
2.125        1
Name: Stars, dtype: int64

In [74]:
# drop 'Unrated'

list1=['Unrated']
df = df[df.Stars.isin(list1) == False]

# Check if 'Unrated' is gone
df['Stars']. value_counts()

4        384
5        369
3.75     350
3.5      326
3        173
3.25     170
4.25     143
4.5      132
2.75      85
2         68
2.5       67
4.75      64
1.5       37
1.75      27
0         26
1         26
2.25      21
0.5       14
0.25      11
1.25      10
5.0       10
3.50       9
5.00       7
4.00       6
4.3        4
4.0        3
4.50       3
3.8        3
3.1        2
4.125      2
2.9        2
2.8        2
2.3        2
3.0        2
1.1        2
2.85       1
0.75       1
3.7        1
3.125      1
3.65       1
3.2        1
0.9        1
3.6        1
3.00       1
1.8        1
0.1        1
2.1        1
3.3        1
3.4        1
2.125      1
Name: Stars, dtype: int64

In [78]:
# object to float64
df['Stars'] = pd.to_numeric(df['Stars'])

# Check if 'Stars' is float64
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2577 entries, 0 to 2579
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Review   2577 non-null   int64
 1   Brand    2577 non-null   object
 2   Variety  2577 non-null   object
 3   Style    2577 non-null   object
 4   Country  2577 non-null   object
 5   Stars    2577 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 140.9+ KB

# Drop duplicated lines

In [79]:
# It will drop all duplicated lines in df
df.drop_duplicates()

,Review,Brand,Variety,Style,Country,Stars
0,2580,new touch,t's restaurant tantanmen,cup,japan,3.75
1,2579,just way,noodles spicy hot sesame spicy hot sesame guan...,pack,taiwan,1.00
2,2578,nissin,cup noodles chicken vegetable,cup,usa,2.25
3,2577,wei lih,gge ramen snack tomato flavor,pack,taiwan,2.75
4,2576,ching's secret,singapore curry,pack,india,3.75
...,...,...,...,...,...,...
2575,5,vifon,"hu tiu nam vang [""phnom penh"" style] asian sty...",bowl,vietnam,3.50
2576,4,wai wai,oriental style instant noodles,pack,thailand,1.00
2577,3,wai wai,tom yum shrimp,pack,thailand,2.00
2578,2,wai wai,tom yum chili flavor,pack,thailand,2.00
2579,1,westbrae,miso ramen,pack,usa,0.50

In [83]:
# What if there are 'Review' numbers duplicated? They should be unique

df.drop_duplicates(subset=['Review'])

,Review,Brand,Variety,Style,Country,Stars
0,2580,new touch,t's restaurant tantanmen,cup,japan,3.75
1,2579,just way,noodles spicy hot sesame spicy hot sesame guan...,pack,taiwan,1.00
2,2578,nissin,cup noodles chicken vegetable,cup,usa,2.25
3,2577,wei lih,gge ramen snack tomato flavor,pack,taiwan,2.75
4,2576,ching's secret,singapore curry,pack,india,3.75
...,...,...,...,...,...,...
2575,5,vifon,"hu tiu nam vang [""phnom penh"" style] asian sty...",bowl,vietnam,3.50
2576,4,wai wai,oriental style instant noodles,pack,thailand,1.00
2577,3,wai wai,tom yum shrimp,pack,thailand,2.00
2578,2,wai wai,tom yum chili flavor,pack,thailand,2.00
2579,1,westbrae,miso ramen,pack,usa,0.50

In [84]:
# Now we don't have duplicates, null values, numbers assigned as words and all the words are lower case.
# We are all setup to the data analysis